fastapi
uvicorn
pydantic
python-dotenv
aiohttp==3.8.5
certifi
slack_bolt==1.18.0
slack_sdk==3.20.0
supabase
httpx
asyncio
datetime
openai
google-cloud-pubsub
google-cloud-aiplatform==1.71.1
vertexai==1.71.1
numpy<2
